@import "tailwindcss";

.navbar {
  @apply fixed z-50 flex h-20 w-full items-center justify-between bg-white shadow-lg;
}

.nav-name {
  @apply flex items-center justify-start pl-5;
  @apply text-4xl;
  @apply lg:text-4xl;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.nav-links {
  @apply absolute top-20 left-0 z-40 hidden w-full flex-col bg-white shadow-lg;
  @apply lg:static lg:flex lg:w-auto lg:flex-row lg:items-center lg:bg-transparent lg:shadow-none;
}

.nav-links.open {
  @apply flex;
}

.nav-link {
  @apply mx-4 my-3 rounded-sm px-2 py-2 text-lg font-medium text-gray-700 transition duration-300 hover:bg-gray-500 hover:text-white;
}

.nav-link-active {
  @apply bg-gray-500 text-white;
}
